
<ion-content>
  <div class="login-section ion-padding">
        <div class="heading ion-padding">
            <h1>Create an Account</h1>
            <p>Start Your carrer with us</p> 
        </div>
        <div class="login-form ion-padding">
          <div class ="form-input">
              <ion-icon name="person-outline"></ion-icon>
              <ion-item>
                  <ion-label position="floating">Name</ion-label>
                  <ion-input type="email"></ion-input>
              </ion-item>
          </div>
    <div class="login-form ion-padding">
        <div class ="form-input">
            <ion-icon name="mail-outline"></ion-icon>
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email"></ion-input>
            </ion-item>
        </div>
        <div class ="form-input">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-item>
                <ion-label  shape position="floating">PASSWORD </ion-label>
                <ion-input type="password"></ion-input>
            </ion-item>
        </div>
    </div>
    <div class="flex-center">
            <ion-button shape="round" color="warning" size ="large" class="login-button">Sign up</ion-button>
        </div>   

        <div class="flex-center">
            <p>Forgot Password?</p>
        </div>
        <div class="flex-center">
            <ion-button  class="sign-button" size="large" routerLink="/login">Login</ion-button>

        </div>   
    </div>   
</div>

</ion-content>

